<div class="card ng-light mt-3" style="width:22rem">
    <div class="card-body">
        <div class="card-title">Password Component</div>
        <p class="card-text">
            <label>Password:
                <input @oninput="OnPasswordChanged" required type="@(showPassword ? "text" : "password")"
                    value="@password" />
            </label>
            <span class="text-danger">@validationMessage</span>
        </p>
        <button class="btn btn-primary" @onclick="ToggleShowPassword">
            Show password
        </button>
    </div>
</div>

@code {
    string validationMessage = string.Empty;
    bool showPassword;
    string password;

    [Parameter]
    public string Password { get; set; }

    [Parameter]
    public EventCallback<string> PasswordChanged { get; set; }

    Task OnPasswordChanged(ChangeEventArgs args)
    {
        this.password = args?.Value?.ToString();

        if (password != null && this.password.Contains(' '))
        {
            this.validationMessage = "Spaces not allowed";
            return Task.CompletedTask;
        }
        else 
        {
            this.validationMessage = string.Empty;
            return this.PasswordChanged.InvokeAsync(this.password);
        }
    }

    void ToggleShowPassword()
    {
        this.showPassword = !this.showPassword;
    }
}
